<!-- About -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase">{{ site.data.hometext.timeline.title | default: "Experience" }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <ul class="timeline-experience">
        <li class="timeline-inverted">
          <!-- <div class="timeline-image"> -->
          <div class="round-box timeline-image">
            <img src="assets\img\timeline\orange_2024.jpg">
            <!-- </div> -->
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2024-now</h4>
              <h4 class="subheading">Research Engineer at Orange Garden, France</h4>
            </div>
          </div>
          <div class="timeline-text">
            Hello from Orange
          </div>
        </li>
        <li class="timeline-inverted">
          <!-- <div class="timeline-image"> -->
          <div class="round-box timeline-image">
            <img src="assets\img\timeline\Grenoble_2019.jpg">
            <!-- </div> -->
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2022-2024</h4>
              <h4 class="subheading">Research Engineer at Huawei Paris Research Center, France</h4>
            </div>
          </div>
          <div class="timeline-text">
            Hello from CEA
          </div>
        </li>
        <li class="timeline-inverted">
          <!-- <div class="timeline-image"> -->
          <div class="round-box timeline-image">
            <img src="assets\img\timeline\Grenoble_2019.jpg">
            <!-- </div> -->
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2019-2022</h4>
              <h4 class="subheading">My Ph.D Journey at CEA-LETI, Grenoble</h4>
            </div>
          </div>
          <div class="timeline-text">
            Hello from CEA
          </div>
        </li>
        <li class="timeline-inverted">
          <!-- <div class="timeline-image"> -->
          <div class="round-box timeline-image">
            <img src="assets\img\timeline\ucm_20182.jpg">
            <!-- </div> -->
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2018</h4>
              <h4 class="subheading"> 2nd semester at UCM Madrid, Spain</h4>
            </div>
          </div>
          <div class="timeline-text">
            Hello from UCM Madrid.  
          </div>
        </li>
        <li class="timeline-inverted">
          <!-- <div class="timeline-image"> -->
          <div class="round-box timeline-image">
            <img src="assets\img\timeline\cachan_2017.jpg">
            <!-- </div> -->
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2017</h4>
              <h4 class="subheading">Begin my Master's degree at ENS Cachan, France</h4>
            </div>
          </div>
          <div class="timeline-text">
            Hello from ENS Cachan.  
          </div>
        </li>
        <li class="timeline-inverted">
          <!-- <div class="timeline-image"> -->
          <div class="round-box timeline-image">
            <img src="assets\img\timeline\upv_2016.jpg">
            <!-- </div> -->
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2016</h4>
              <h4 class="subheading">Exchange student at UPV, Spain</h4>
            </div>
          </div>
          <div class="timeline-text">
            Hello from UPV.  
          </div>
        </li>
        <li class="timeline-inverted">
          <!-- <div class="timeline-image"> -->
          <div class="round-box timeline-image">
            <img src="assets\img\timeline\ascent2.jpg">
            <!-- </div> -->
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2016</h4>
              <h4 class="subheading">Exchange student at TokyoTech, Japan</h4>
            </div>
          </div>
          <div class="timeline-text">
            Hello from Ascenter.  
          </div>
        </li>
        <li class="timeline-inverted">
          <!-- <div class="timeline-image"> -->
          <div class="round-box timeline-image">
            <img src="assets\img\timeline\hust.jpg">
            <!-- </div> -->
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2011-2016</h4>
              <h4 class="subheading">Engineer's degree at HUST, Vietnam</h4>
            </div>
          </div>
          <div class="timeline-text">
            Hello from HUST.
          </div>
        </li>
        <li class="timeline-inverted">
          <a class="timeline-image end" href="https://dnlam.github.io/CV/">
            <h4>{{ site.data.hometext.timeline.end }}</h4>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase">{{ site.data.hometext.timeline.title | default: "Experience" }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <ul class="timeline">
        <li class="timeline-inverted">
          <a class="timeline-image end" href="https://dnlam.github.io/CV/">
            <h4>{{ site.data.hometext.timeline.end }}</h4>
          </a>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="rounded-circle img-fluid" src="assets\img\timeline\hust_20162.jpg" alt="HUST">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2016</h4>
              <h4 class="subheading">AAAA</h4>
            </div>
          </div>
          <div class="timeline-text">
            Hello
          </div>
        </li>
      </ul>
    </div>
  </div>
</div> -->


<!-- </section> -->
<!-- End About -->