<!-- About -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase">{{ site.data.hometext.timeline.title | default: "Experience" }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <ul class="timeline-experience">
        <li class="timeline-inverted">
          <!-- <div class="timeline-image"> -->
          <div class="round-box">
            <img src="assets\img\timeline\Grenoble_2019.jpg">
            <!-- </div> -->
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase">{{ site.data.hometext.timeline.title | default: "Experience" }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <ul class="timeline">
        <li class="timeline-inverted">
          <a class="timeline-image end" href="https://dnlam.github.io/CV/">
            <h4>{{ site.data.hometext.timeline.end }}</h4>
          </a>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="rounded-circle img-fluid" src="assets\img\timeline\hust_20162.jpg" alt="HUST">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2016</h4>
              <h4 class="subheading">AAAA</h4>
            </div>
          </div>
          <div class="timeline-text">
            Hello
          </div>
        </li>
      </ul>
    </div>
  </div>
</div> -->


<!-- </section> -->
<!-- End About -->